.review-container {
    /* width: 600px; */
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
  }
  