.footer-container {
  background-color: #222222;
  padding: 70px 0;
  padding-bottom: 40px;
}

.footer-container .footer-heading {
  color: #fff;
  font-weight: 600;
}

.footer-container p,
.footer-container > p > a {
  color: #ccc;
}
